@use '../variaveis';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; //fazendo com que a linha não se quebre

    &--primary{
        color: variaveis.$text_color;
        background-color:variaveis.$primary_button;
    }

    @media(max-width:640px){
        display: block;
        width: 100%;
    }

    @media(max-width: 1024px){
        display: flex;
        align-items: center;
    }
}